<script src="./js/edit-comment.js"></script>

<div>
    <h4>
    <form action={{#if homePage}} "./allArticles" {{else}} "./yourArticles" {{/if}} method="GET">
        <label for="sortby">Sort by:</label>
        <select id="sortby" name="sortby"  onchange="this.form.submit()">
            <option value="asc" {{#if asc}} selected {{/if}}>Oldest</option>
            <option value="desc" {{#if desc}} selected {{/if}}>Newest</option>
        </select>
    </form>
    </h4>
</div>


<div>
    <a id="add-article" href="./addArticle" {{#if postPage}}  {{else}} style="visibility: hidden" {{/if}}>
        What's in your mind?
    </a>
</div> 

<div class="articles-container">
    
    <ul id="all-articles">
        {{#each allArticles}}
        <li class="article-item" id="li-{{id}}">
            <div id="grid-article">
                <div id="article-body">
                    <h3>Title : <span>{{title}}</span></h3>
                    <h4>Theme : <span>{{themeName}}</span></h4>
                    <h4>Time : <span>{{time}}</span></h4>
                    <div class="images-container">
                        {{#each images}}
                        <div class="images">
                            <img class="article-img" src="{{this.path}}">
                        </div>
                        {{/each}}
                    </div>
                    <div class="article-content">
                        {{{content}}}
                    </div>
                </div>
                <div id="article-comment">
                    <button class="like-button {{#if userlike}} liked {{/if}}" 
                        data-article-id="{{id}}"></button>
                    <button id="addComment">comment</button>
                </div>
            
                <div id="article-operation">
                    <form action="./editArticle" method="POST">
                        <input id="articleInfo" name="articleInfo" type="hidden" value="{{this.id}}">
                        <button id="edit-article">Edit</button>
                    </form>
                    <form action="./deleteArticle" method="POST">
                        <input id="articleId" name="articleId" type="hidden" value="{{this.id}}">
                        <button id="delete-article">Delete</button>
                    </form>
                </div>
            </div>
            <div class="hr-container">
                <hr class="article-hr">
            </div>
        </li>
        {{/each}}
    </ul>

</div>

